[Unit]
Description=Time Daemon
Requires=dbus.socket

[Service]
Type=notify
ExecStart=/usr/bin/timed-qt5
Restart=always

[Install]
WantedBy=pre-user-session.target
