Source: timed
Section: misc
Priority: optional
Maintainer: Ilya Dogolazky <ilya.dogolazky@nokia.com>
Uploaders: Philippe De Swert <philippe.de-swert@nokia.com>
Build-Depends: debhelper (>= 7),
 libqt4-dev (>= 4.6),
 doxygen,
 libcontextprovider-dev,
 libcontextsubscriber-dev,
 libiodata-dev,
 libqmlog-dev,
 libpcre3-dev,
 libcellular-qt-dev,
 libcreds2-dev,
 aegis-builder (>= 1.4),
 libsysinfo-dev,
 python (>= 2.5), asciidoc, xsltproc, docbook-xsl, dblatex, graphviz, ttf-bitstream-vera
Standards-Version: 3.8.0

# libosso-dev,
# libdbus-1-dev,
# libdbus-glib-1-dev,
# libglib2.0-dev,
# libconic0-dev,
# libdsme0.2.0-dev,
# mce-dev,

Package: timed
Conflicts: timehd (<< 2.0)
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, tzdata
Description: time daemon
 The time daemon (timed) managing system time, time
 zone and settings, executing actions at given time and managing the event
 queue.

Package: libtimed0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: timed client library
 Qt based API for communication with timed

Package: libtimed-voland0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: timed client library for voland
 Qt based API for communication between voland and timed

Package: timed-tools
Conflicts: timehd (<< 2.0)
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, timed (= ${binary:Version})
Description: command line tools for communication with the time daemon
 Command line timed tools: 'simple-client' - a command line
 simple client for time daemon; 'fake-dialog-ui' - a command
 line voland implementation; 'ticker' - a command line clock
 and signal notification.

Package: timed-tests
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, timed-tools (=${binary:Version}), ci-testing
Description: test cases for timed
 Simple automated test cases, to be executed in cita

# Legacy symlink, to be released only once and a fake debug package

Package: timehd
Architecture: any
Depends: ${misc:Depends}, timed (>= ${binary:Version}), timed-tools (>= ${binary:Version})
Description: empty package
 Empty

Package: timehd-dbg
Section: libdevel
Priority: extra
Architecture: any
Depends: timehd (= ${binary:Version}), ${misc:Depends}
Description: empty package
 Empty

# Development packages

Package: libtimed-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libtimed0 (= ${binary:Version}), libqt4-dev (>= 4.6)
Description: development package for libtimed
 Header files and shared lib symlink for timed client library

Package: libtimed-voland-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libtimed-voland0 (= ${binary:Version}), libqt4-dev (>= 4.6), libtimed-dev
Description: development package for libtimed-voland
 Header files and shared lib symlink for timed-voland library

# Documentation

Package: timed-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: timed documentation
 The timed(8) manual page describing time daemon

Package: libtimed-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: libtimed documentation
 The libtimed(3) manual page describing timed client library

Package: libtimed-voland-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: libtimed-voland documentation
 The libtimed-voland(3) manual page describing timed to voland
 communication library

# Debugging symbols

Package: timed-dbg
Section: libdevel
Priority: extra
Architecture: any
Depends: timed (= ${binary:Version}), ${misc:Depends}
Description: timed debugging symbols
 Debugging information for the time daemon

Package: libtimed0-dbg
Section: libdevel
Priority: extra
Architecture: any
Depends: libtimed0 (= ${binary:Version}), ${misc:Depends}
Description: libtimed0 debugging symbols
 Debugging information for time daemon interface library

Package: libtimed-voland0-dbg
Section: libdevel
Priority: extra
Architecture: any
Depends: libtimed-voland0 (= ${binary:Version}), ${misc:Depends}
Description: libtimed-voland0 debugging symbols
 Debugging information for time daemon to voland interface library

Package: timed-tools-dbg
Section: libdevel
Priority: extra
Architecture: any
Depends: timed-tools (= ${binary:Version}), ${misc:Depends}
Description: timed-tools debugging symbols
 Debugging symbols for commad line time daemon tools
