#!/usr/bin/make -f

# vim:syntax=make:

export DH_VERBOSE=1
export TIMED_VERSION=$(shell head -n1 debian/changelog | sed "s/.*(\([^)+]*\).*/\1/")

.PHONY: build clean realclean install configure binary-indep binary-arch binary

clean:
	echo TARGET clean
	dh_testdir
	dh_testroot
	$(MAKE) -C src distclean || test ! -f timed/Makefile
	find src -name Makefile | xargs rm -f
	rm -f build-stamp configure-stamp

configure: configure-stamp
configure-stamp:
	echo TARGET configure
	dh_testdir
	rm -rf src/h
	mkdir -p src/h
	ln -s ../server src/h/daemon
	ln -s ../lib    src/h/timed
	ln -s ../voland src/h/timed-voland
	cd src && qmake -unix -recursive
	touch $@

build: build-stamp
build-stamp: configure
	echo TARGET build
	dh_testdir
	dh_prep
	cd src && make
	cp src/doc/Makefile /tmp/makefile1
	cd src/doc && qmake
	cp src/doc/Makefile /tmp/makefile2
	diff /tmp/makefile1 /tmp/makefile2 >/tmp/makefile.diff || true
	touch $@

install: build
	echo TARGET install
	dh_testdir
	dh_installdirs
	cd src && make install INSTALL_ROOT=$(CURDIR)/debian/tmp
	mkdir -p -m 0755 $(CURDIR)/debian/tmp/var/cache/timed
	touch $(CURDIR)/debian/tmp/var/cache/timed/SYSTEM_TIME_LOST
	touch $(CURDIR)/debian/tmp/var/cache/timed/DEBUG
	touch $(CURDIR)/debian/tmp/var/cache/timed/HOME_LOG
	# cd src/political && INSTALL_ROOT=$(CURDIR)/debian/tmp ./debian-install.sh
	# ln -sf timed $(CURDIR)/debian/tmp/usr/bin/cute-timed
	dh_link -ptimed usr/bin/timed usr/bin/cute-timed

binary: binary-indep binary-arch
binary-indep:
binary-arch: install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
#	dh_installexamples
#	mkdir -p $(CURDIR)/debian/tmp/var/cache/alarmd
	dh_install --sourcedir=$(CURDIR)/debian/tmp
	for i in timed libtimed0 libtimed-voland0 timed-tools ; \
    do dh_strip -v --package=$$i --dbg-package=$$i-dbg || exit 1 ; \
  done
	dh_installman
	# Note: clockd must be started before alarmd
	dh_compress
	dh_fixperms
	dh_makeshlibs
# 	dh_pysupport
	dh_makeshlibs --package=libtimed0 -V 'libtimed0 (>= 2.37)'
	dh_makeshlibs --package=libtimed-voland0 -V 'libtimed-voland0 (>= 2.37)'
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb
	aegis-deb-add -control debian/timed/DEBIAN/control .. debian/timed.aegis.xml=_aegis
	aegis-deb-add -control debian/timed-tools/DEBIAN/control .. debian/timed-tools.aegis.xml=_aegis
